


 <div id="img"><%= image_tag "signup.png" , :height => 100 , :width => 150%><div>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


 
  
<t>
<div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: true, required: true %>
  </div>
  



  
<div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, required: true%>
  </div>





<div class="field">
    <%= f.label "Birth Date" %><br>
    <%= f.date_select :birthdate , :id => "mydatepicker" , required: true %>
  </div>

<div class="field">
  <%= f.label "Gender" %><br>
  <%= f.radio_button :gender , true %>Male
  <%= f.radio_button :female , false %>Female
</div>


  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email , required: true %>
  </div>




  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>



  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  


  <div class="actions" >
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</t>
<div >
<%= render "devise/shared/links" %>
</div>

