<%= form_for [ @post, Comment.new ] do |f| %>


          <p> 
               <%= f.label :body, "New comment" , :col => 50 , :row => 30 %><br/>
               <%= f.text_area :body  %></p>

              
               <%= f.hidden_field :post_id , value: params[:id] %></p>            

         <p><%= f.submit "Add comment"  %></p>



<% end %>