<h3>posts of <%= @category.name %></h3>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      
      <th>Title</th>
      <th>Description</th>
      <th>Comment</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
      
        
        <td><%= post.Title %></td>
        <td><%= post.Description %></td>
        <td><%= post.comments.map{|t| t.body}.join(',') %></td>
        <td>
          
         <% post.tags.each do |tag| %>
              <%=link_to tag.name  , tags_path(:id => tag)%> ,
          <% end %>



        </td>
        <td><%= link_to 'Show', category_post_path(post.category,post), class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_category_post_path(post.category,post),class: "glyphicon glyphicon-edit btn btn-warning" %></td>
        <td><%= link_to 'Destroy', category_post_path(post.category,post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  

            

<br>

<%= link_to new_category_post_path(@category), class: 'btn btn-info' do %>
  <i class="glyphicon glyphicon-plus"></i> New Post
<% end %> <t>
<%= link_to categories_path , class: "btn btn-info" do %>
  <i class="glyphicon glyphicon-plus"></i>Back
<% end %>
