
<table border="2" cellpadding="10" cellspacing="0">
<tr>
  <td><strong>Title:</strong></td>
  <td><%= @post.Title %></td>
</tr>

<tr>
  <td><strong>Description:</strong></td>
  <td><%= @post.Description %></td>
</tr>

<tr>
  <td><strong>Tag:</strong></td>
  <td><%= @post.tags.map(&:name).join(',') %></td>
</tr>

<tr>
  <td><strong>Comment:</strong></td>
  <td><%= @post.comments.map(&:body).join(',') %></td>
</tr>

<%= form_for [ @posts, Comment.new ] do |f| %>
  
  <p>
               <%= f.label :body, "New comment" %><br/>
               <%= f.text_area :body %></p>

               <%= f.label :post_id, "select post" %><br/>
               <%= f.text_field :post_id %></p>

         <p><%= f.submit "Add comment" %></p>

<% end %>

<tr>
  <td><strong> Category</string></td>
  <td><%=  %></td>
  </tr>
  </table>
  <br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
