<div class = "page-header">
<p>
   <h2><%= @post.Title %></h2>
</p>
</div>


<p>
  <strong>Description:</strong>
  <%= @post.Description %>
</p>



<p>
  <strong>Tag:</strong>
  <%= @post.tags.map(&:name).join(',') %>
</p>


<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>


<p>
  <strong>Category:</strong>
  <%= @post.category.try(:name) %>
</p>



<p>
  <strong>Created_at:</strong>
  <%= @post.created_at %>

</p>



<p>
  <strong>Updated_at:</strong>
  <%= @post.updated_at %>
</p>

<p>
  <STRONG>Comments:</STRONG>

<% @com=@post.comments %>
        
     <% @com.each do |c| %>  
         <%= c.body %><p id="timestamp"><%= time_ago_in_words(c.created_at) %> ago</p>
          <% if user_signed_in? %>
        <%#= link_to '-', edit_category_post_comment_path(@post.category , @post, c ) %>

        <p id ="commentid">  <%= link_to 'destroy', post_comment_path(@post.id, c ) , method: :delete, data: { confirm: 'Are you sure?' } %>  
          <% end %> 
        </p>
        <hr>
     <% end %>      
</p>

<%= render 'comment' , locals: @post %>


<%= link_to 'Edit', edit_category_post_path(@post.category,@post) %> |
<%= link_to 'Back', category_posts_path(@category) %>
