<p>
   <strong>Title:</strong> 
   <%= @post.Title %>
</p>



<p>
  <strong>Description:</strong>
  <%= @post.Description %>
</p>



<p>
  <strong>Tag:</strong>
  <%= @post.tags.map(&:name).join(',') %>
</p>


<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>




<p>
  <strong>Category:</strong>
  <%= @post.category.try(:name) %>
</p>



<p>
  <strong>Created_at:</strong>
  <%= @post.created_at %>
</p>



<p>
  <strong>Updated_at:</strong>
  <%= @post.updated_at %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @post.comments.map(&:body).join()%>
</p>

<br>

<%= render 'comment' , locals: @post %>


<%= link_to 'Edit', edit_category_post_path(@post.category,@post) %> |
<%= link_to 'Back', category_posts_path(@category) %>
